.UploadPage{
    display: flex;
 align-items: flex-end;
 flex-direction: column;
 margin-top: 60px;
  margin-left: 65px;
  margin-right: 5px;
  /* padding: 6px 12px; */
  height: 120px;
  color: rgb(252, 252, 252);
  border-radius: 5px;

/* align-content: space-around; */
flex-wrap: wrap;
  }

  #table{
  height: 400px;
  margin-left: 65px;
  margin-right: 5px;
  }

  Button.btn{
   
  margin-top: auto;
  margin-bottom: auto;
margin-right: 10px;
    background-color:#181a1c;

 
   
  }


  .RowDialogue{

    display: flex;

    padding: 1;
    margin : 10;

    /* padding: 6px 12px; */  
  /* align-content: space-around; */
  flex-wrap: wrap;
    
  }
