div.content {
    margin-top: 60px;
    margin-left: 65px;
    margin-right: 5px;
    padding: 1px 6px;
    height: 200px;
    background-color: #060706;
    color: rgb(252, 252, 252);
    border-radius: 5px;
  
  }
  #echart{
   color: rgb(252, 252, 252);
   padding: 1px 6px;
    margin-top: 5px;
    margin-left: 65px;
    margin-right: 5px;
    height: 800px;
    background-color: #0f0d0f;
    border-radius: 5px;}